<h2>Konvertering</h2>

<p> Välj det värde och den enhet du vill konvertera från,
    tryck sedan på knappen för att konvertera.</p>

<h3>Konvertering mellan meter och fot</h3>

<!-- Formulär för att konverera meter till fot och vice versa -->
<div id="convert-form">
    <label for="inputValueMetFeet">Ange ett värde:</label><br>
    <input type="number" [(ngModel)]="inputValueMetFeet" id="inputValueMetFeet" [ngModelOptions]="{standalone: true}"
        placeholder="Ange värde" required=""><br>

    <label for="unitSelectMetFeet">Välj enhet:</label><br>
    <select [(ngModel)]="selectedUnitMetFeet" id="unitSelectMetFeet">
        <option value="meter">Meter</option>
        <option value="feet">Fot</option>
    </select>
</div>

<div><button (click)="convert()">Konvertera</button></div>

<div id="result-text">
    <p>{{ result }}</p>
</div>