<h2>Konvertering</h2>

<p> Välj det värde och den enhet du vill konvertera från,
    tryck sedan på knappen för att konvertera.</p>

<h3>Konvertering mellan meter och fot</h3>

<!-- Formulär för att konverera meter till fot och vice versa -->
<div id="convert-form">
    <label for="inputValue">Ange ett värde:</label><br>
    <input type="number" [(ngModel)]="inputValue" id="inputValue" placeholder="Ange värde"><br>

    <label for="unitSelect">Välj enhet:</label><br>
    <select [(ngModel)]="selectedUnit" id="unitSelect">
        <option value="meter">Meter</option>
        <option value="feet">Fot</option>
    </select>
</div>

<div><button (click)="convert()">Konvertera</button></div>

<div id="result-text">
    <p>{{ result }}</p>
</div>