<h2>Om uppgiften</h2>

<div id="about-container">
    <p>I den här laborationen har en Angular-applikation med tre undersidor skapats:<br>
        en startsida med en bildfunktion, en sida för konvertering av värden och en sida som presenterar uppgiften.
        Header och footer och lagts i separata komponenter med navigering i headerkomponenten.
        På startsidan finns en funktion för att växla mellan två olika bilder.
        Konvertering mellan olika enheter har lagts i två separata komponenter som importerats
        till sidan "konvertera". Databinding har använts och CSS-styling har gjorts på global- och
        komponentsnivå. Jag tycker att laborationen har varit kul och lärorik med övning i hur komponenter,
        routes och databinding fungerar i Angular.<br>
    </p>
</div>