<h3>Konvertering mellan celsius och farheheit</h3>

<div id="convert-form">
    <label for="inputValueCelFar">Ange temperatur:</label><br>
    <input type="number" [(ngModel)]="inputValueCelFar" id="inputValueCelFar" [ngModelOptions]="{standalone: true}"
        placeholder="Ange temperatur" required=""><br>


    <label for="unitSelectCelFar">Välj enhet:</label><br>
    <select [(ngModel)]="selectedUnitCelFar" id="unitSelectCelFar">
        <option value="celsius">Celsius</option>
        <option value="farenheit">Farenheit</option>
    </select>
</div>

<div><button (click)="convert()">Konvertera</button></div>

<div>
    <p>{{ result }}</p>
</div>