<h3>Konvertering mellan celsius och farheheit</h3>

<div id="convert-form">
    <label for="inputValue">Ange temperatur:</label><br>
    <input type="number" [(ngModel)]="inputValue" id="inputValue" placeholder="Ange temperatur"><br>

    <label for="unitSelect">Välj enhet:</label><br>
    <select [(ngModel)]="selectedUnit" id="unitSelect">
        <option value="celsius">Celsius</option>
        <option value="farenheit">Farenheit</option>
    </select>
</div>

<div><button (click)="convert()">Konvertera</button></div>

<div>
    <p>{{ result }}</p>
</div>